<div class="github-card" style="width: {{card.card_width + 'px'}};">	

		<div class="github-cover"
		  	 style="
		  		 background-color: {{card.color}};
		         background-image: url('{{card.cover}}');
		         height: {{card.cover_height}}px">
		
		<div ng-if="card.cover"
			 class="github-overlay"></div>
			
			<div class="github-username">
				{{user}}
			</div>	

	</div>

	<img ng-if="github.avatar"
		 class="github-avatar"
		 src="{{github.avatar}}"
		 style="top: {{card.avatar_top}}px">
	
	<div ng-click="follow()"
		 ng-if="github.avatar"
		 class="github-avatar github-follow"
		 title="Follow"
		 style="background-color: {{card.color}};
		 		top: {{card.avatar_top}}px
		 ">
		
			<span class="mega-octicon octicon-person"></span>

	</div>

	<div class="github-content">
		
		<div ng-click="openRepo()" class="github-title">
			{{card.title}}
		</div>
		
		<small>
			last update {{github.update}}
		</small>

		<div class="github-description">
			{{card.description}}
		</div>
		
		<div class="github-end">
			
			<div class="github-left-buttons">
				
				<div ng-if="card.clone" ng-click="clone(false)"
					 class="github-clone"
					 style="background-color:{{card.color}}">
					 	CLONE
				</div>
				
				<div ng-if="card.clone" ng-click="clone(true)"
					 class="github-clone github-ssh">
					SSH
				</div>

			</div>

			<div ng-if="github" class="github-buttons">
				
				<div ng-if="card.counter_watchers"
					 title="Watchers"
					 ng-click="open('watchers')"
					 class="github-button">
					
					<span class="octicon octicon-eye"></span>
				
					<span>
						{{github.watchers}}
					</span>

				</div>

				<div ng-if="card.counter_stargazers"
					 title="Stargazers"
					 ng-click="open('stargazers')"
					 class="github-button">

					<span class="octicon octicon-star"></span>

					<span>
						{{github.stars}}
					</span>

				</div>

				<div ng-if="card.counter_forks"
					 title="Forks"
					 ng-click="open('network')"
					 class="github-button">
					
					<span class="octicon octicon-repo-forked"></span>

					<span>
						{{github.forks}}
					</span>

				</div>

				<div ng-if="card.counter_issues"
					 title="Issues"
					 ng-click="open('issues')"
					 class="github-button">
					
					<span class="octicon octicon-issue-opened"></span>
					
					<span>
						{{github.issues}}
					</span>

				</div>

			</div>

		</div>

	</div>

</div>